<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/x-icon" href="~/images/favicon.ico">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
</head>
<body>
    <header class="header">
        <nav class="nav-header">
            @* main logo *@
            <div class="nav-group-left">
                <div id="header-logo">
                    <figure>
                        <a asp-controller="Home" asp-action="Index">
                            <img id="logo" src="~/images/logo.png" alt="neurlingo's page logo" />
                        </a>
                    </figure>
                </div>

                @* nav list *@
                <ul class="nav nav-underline" id="main-nav">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-item" asp-controller="Home" asp-action="Index">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="About" asp-action="Index">O nas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Courses" asp-action="Index">Kursy</a>
                    </li>
                    @if (User?.Identity?.IsAuthenticated is true)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Flashcard" asp-action="Create">Stwórz fiszkę</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Flashcard" asp-action="MyFlashcards">Moje fiszki</a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="FAQ" asp-action="Index">FAQ</a>
                    </li>
                </ul>
            </div>

            @* search nav *@
            <div id="search-nav">
                <div>
                    <img id="search-icon" src="~/images/search.png" alt="search icon" />
                </div>
                <form>
                    <input id="search-input" type="text" placeholder="Search for results..." />
                </form>
            </div>

            @* nav list auth *@
            <ul class="nav nav-underline" id="auth-nav">
                @if (User?.Identity?.IsAuthenticated is true)
                {
                    <li class="nav-item" id="logout-item">
                        <a class="nav-link" asp-controller="" asp-action="LogOut">Wyloguj</a>
                    </li>
                }
                <li class="nav-item" id="register-item">
                    <a class="nav-link" asp-controller="Auth" asp-action="Register">Zarejestruj się</a>
                </li>
                <li class="nav-item" id="login-item">
                    <a class="nav-link" asp-controller="Auth" asp-action="LogIn">Zaloguj się</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="main-content">
        @RenderBody()
    </main>
    <footer class="footer-container">
        <div class="footer-columns">
            @* social media list *@
            <div class="footer-box" id="social-media">
                <p id="sm-title"><b>Social media</b></p>
                <ul>
                    <li class="sm-item">
                        <a href="https://www.instagram.com/" title="Nasz Instagram">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>
                    <li class="sm-item">
                        <a href="https://x.com/home" title="Nasz profil X">
                            <i class="fa-brands fa-x-twitter"></i>
                        </a>
                    </li>
                    <li class="sm-item">
                        <a href="https://www.facebook.com/" title="Nasz Facebook">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                    </li>
                </ul>
            </div>

            @* newsletter section *@
            <div class="footer-box" id="monthly-newsletter">
                <p><b>Zapisz się do naszego newslettera</b></p>
                <small>Miesięczny przegląd nowości i ciekawostek u nas.</small>
                <div class="subscribe">
                    <form>
                        <input type="email" placeholder="Adres email" />
                    </form>
                    <button class="btn btn-secondary">
                        Subskrybuj
                    </button>
                </div>
            </div>

            @* blog info *@
            <div class="footer-box" id="blog-container">
                <p><b>Ostatnio na naszym blogu:</b></p>
                <i class="blog-arrow">&gt</i>
                <a class="blog-link" asp-controller="Home" asp-action="Index">
                    <small>
                        5 trików z neurolingwistyki, które przyspieszą Twoją naukę fiszek
                    </small>
                </a>
                <br />
                <i class="blog-arrow">&gt</i>
                <a class="blog-link" asp-controller="Home" asp-action="Index">
                    <small>
                        Dlaczego mózg kocha powtórki? Sekret skutecznej pamięci
                    </small>
                </a>
                <br />
                <i class="blog-arrow">&gt</i>
                <a class="blog-link" asp-controller="Home" asp-action="Index">
                    <small>
                        Minimalistyczne fiszki: jak uczyć się mniej, a zapamiętywać więcej
                    </small>
                </a>
            </div>
            
            @* Copyright*@
            <div class="footer-copyright">
                <p>&copy 2025 Neurolingo. Wszelkie prawa zastrzeżone.</p>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/sidebar.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
