.home-feature {
    display: flex; 
    align-items: center;
    gap: 3rem; 
    width: 90%; 
    max-width: 1100px; 
    margin: 4rem auto;
}

.text-content {
    flex: 1;
    color: white;
}

.text-content h2 {
    color: white;
    font-size: 2.5rem;
}
    
.text-content p {
    font-size: 1.2rem; 
    color: white;
}

.text-content span {
    color: white;
}

.btn.btn-primary {
    background-color: #f2802f;
    border-color: #f2802f;
    font-weight: bold;
    color: white;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 0.8rem;
    border: solid;
}

.btn.btn-primary:hover {
    background-color: rgb(55, 210, 240);
    transition: 1s;
}

.image-wrapper {
    width: 34rem;
    height: auto;
}

.image-wrapper img {
    width: 100%; 
    height: auto;
    display: block; 
    border: solid white;
    border-radius: 1rem; 
}
