body {
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.nav-group-left {
    display: flex;
    align-items: center;
}

.header {
    width: 100%;
    height: auto;
    position: relative;
    background-color: white;
    padding-bottom: 0.2rem;
    border-bottom: 3px solid #dedede;
}

#header-logo {
    margin-left: 1.2rem;
    position: relative;
    width: 4rem;
    height: 3.5rem;
    background-color: #f2802f;
    border-radius: 50% 20% / 10% 40%;
}

#header-logo:hover {
    transform: rotate(-5deg);
    transition: 0.5s;
    box-shadow: 0 0 0.5rem 0.5rem rgb(58, 169, 201);
}

#logo {
    position: absolute;
    width: 3rem;
    height: auto;
    top: 0.5rem;
    left: 0.8rem;
    flex-shrink: 0;
}

#logo:hover {
    background-color: rgb(184, 118, 242);
}

.nav-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

#main-nav {
    margin-left: 4.2rem;
}

.nav.nav-underline {
    display: flex;
    align-items: center;
    margin-top: 0;
    list-style-type: none;
    padding-left: 0;
}

.nav-item {
    padding-left: 0.2rem;
    padding-right: 0.5rem;
}

.nav-link {
    font-size: 1.4rem;
    color: #333;
}

.nav-link:hover {
    text-decoration: underline 3px solid;
    text-decoration-color: orange;
    color: purple;
    transition: 0.5s;
}

#search-nav {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0.3rem;
    border-radius: 1rem;
    border: 0.1rem solid grey;
    overflow: hidden;
}

#search-icon {
    width: 1.5rem;
    height: auto;
    margin-right: 0.7rem;
}

#search-input {
    border: hidden;
}

#search-input:focus {
    outline: none;
}

/* main */
.main-content {
    flex-grow: 1;
}

/* footer */
.footer-container {
    position: relative;
    background-color: white;
    width: 100%;
    height: auto;
    border-top: 3px solid #dedede;
    border-radius: 10% 10% 0 0;
    box-sizing: border-box;
}

.footer-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
}

.footer-box {
    flex-basis: 30%;
    min-width: 250px;
    padding-top: 2rem;
}

.footer-box a {
    text-decoration: none;
}

.footer-box ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.footer-box i {
    font-size: 1.8rem;
    color: orangered;
    padding-top: 0.4rem;
}

.sm-item i:hover {
    font-size: 1.9rem;
    transition: 0.1s;
    color: purple;
}

#social-media {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    margin-left: 1rem;
    align-items: center;
    padding-bottom: 0.5rem;
}

#sm-title {
    margin-left: 2.2rem;
}

.blog-arrow {
    font-size: 0.2rem;
}

.subscribe {
    display: flex;
    flex-direction: row;
    padding-top: 0.7rem;
    gap: 1rem;
}

.subscribe form {
    padding-top: 0.2rem;
}

.subscribe button {
    background-color: orange;
    border: 2px solid grey;
    border-radius: 9px;
    transition: 1s;
}

.subscribe button:hover {
    background-color: rgb(55, 210, 240);
}

#monthly-newsletter input {
    border-radius: 8px;
}

#blog-container a {
    color: grey;
}

#blog-container a:hover {
    color: purple;
}

.footer-copyright p {
    align-items: center;
}