@{
    ViewData["Title"] = "Neurolingo";
}

<section class="home-feature">

    <div class="text-content">
        <h2>Ucz się szybciej. <span><b>Zapamiętuj więcej</b></span></h2>
        <p>
            NeuroLingo to platforma oparta o badania naukowe,
            która dostosowuje tempo nauki do Ciebie,
            aby maksymalizować retencję informacji.
        </p>
        <a href="#" class="btn btn-primary">Rozpocznij naukę</a>
    </div>

    <div class="image-wrapper">
        <img src="~/images/main-image.png" alt="people learning from flashcards" />
    </div>

</section>