@{
    ViewData["Title"] = "Neurolingo";
}

<section class="home-feature">
    <div class="text-content">
        <h2>Ucz się szybciej. <span><b>Zapamiętuj więcej</b></span></h2>
        <p>
            NeuroLingo to platforma oparta o badania naukowe,
            która dostosowuje tempo nauki do Ciebie,
            aby maksymalizować retencję informacji.
        </p>
        <a href="#" class="btn btn-primary">Rozpocznij naukę</a>
    </div>

    <div class="image-wrapper">
        <img src="~/images/main-image.png" alt="people learning from flashcards" />
    </div>
</section>

<section class="blog-preview">
    <h2>Dołącz do naszego vloga!</h2>
    <h3>Sprawdź, o czym ostatnio mówimy</h3>

    <div class="blog-grid">
        <div class="blog-card">
            <img src="~/images/5-tips.jpg" alt="Obrazek artykułu">
            <h3>5 trików z neurolingwistyki...</h3>
            <div id="more-info">
                <a href="#">Czytaj więcej ></a>
            </div>
        </div>
        <div class="blog-card">
            <img src="~/images/repetition-memory.jpg" alt="Obrazek artykułu">
            <h3>Dlaczego mózg kocha powtórki?...</h3>
            <div id="more-info">
                <a href="#">Czytaj więcej ></a>
            </div>
        </div>
        <div class="blog-card">
            <img src="~/images/minimal-flashcards.jpg" alt="Obrazek artykułu">
            <h3>Minimalistyczne fiszki: jak uczyć się mniej...</h3>
            <div id="more-info">
                <a href="#">Czytaj więcej ></a>
            </div>
        </div>
    </div>
</section>