@using NeuroLingo.Features.Auth.ViewModels
@model LoginUserViewModel

<div class="modal-flex">
    <div class="login-container">
        <div class="login-image">
            <img src="@Url.Content("~/images/words.PNG")" alt="flashcard image with letters" />
        </div>
        <div class="login-form">
            <h2>Login</h2>
            <form id="loginForm" asp-action="Login" method="post">
                @Html.AntiForgeryToken()
                <div class="mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <input id="email" asp-for="Email" class="form-control" type="email" placeholder="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Password" class="form-label"></label>
                    <input id="password" asp-for="Password" class="form-control" type="password" placeholder="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Login</button>
                <div class="login-navigation">
                    <a id="go-to-register" href="#" data-bs-toggle="modal" data-bs-target="#registerModal" onclick="$('#loginModal').modal('hide');">
                        Don't have an account? Click here
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
