@using NeuroLingo.Features.Auth.ViewModels
@model RegisterUserViewModel

<div class="modal-flex">
    <div class="register-container">
        <div class="register-form">
            <h2>Register</h2>
            <form id="registerForm" asp-action="Register" method="post">
                @Html.AntiForgeryToken()
                <div class="mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <input id="email" asp-for="Email" class="form-control" type="email" placeholder="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Password" class="form-label"></label>
                    <input id="password" asp-for="Password" class="form-control" type="password" placeholder="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="ConfirmPassword" class="form-label"></label>
                    <input id="confirmPassword" asp-for="ConfirmPassword" class="form-control" type="password" placeholder="Rewrite password" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                    <div class="register-hint">
                        <h3>Password should contain:</h3>
                        <ul class="register-password-rules">
                            <li id="rule-length">Min. 8 characters</li>
                            <li id="rule-uppercase">Uppercase letter</li>
                            <li id="rule-digit">Number</li>
                        </ul>
                    </div>
                </div>

                <button id="btnLogin" type="submit" class="btn btn-primary">Register</button>
                <div class="register-navigation">
                    <a id="go-to-login" href="#" data-bs-toggle="modal" data-bs-target="#loginModal" onclick="$('#registerModal').modal('hide');">
                        Already have an account? Click here
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>